.headerrr{
	display: flex;
	align-items: center;
	background-color: #FFE15C;
	height: 120px;
	border-bottom: 4px solid #000;
}

.space-menu{
	background-color: #FFE15C;
	padding: 18px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.barraInicio {
	margin: 0 auto;
	display: flex;
	gap: 50px;
}

.logo-div{
	width: 220px;
	height: 100px;
}

.logo{
	width: 100%;
	height: 100%;
}

.img-size {
/*	max-inline-size: 100%;*/
	width: 100%;
	object-position: center;
	object-fit: cover;

}

.merch {
	background-color: #FFE15C;
	display: flex;
	flex-wrap: wrap;
	gap: 150px;
	margin: 0px 130px 0px 130px;
/*	padding: 100px 100px 100px 100px;*/
	justify-content: center;
/*	justify-content: flex-start;*/
/*	height: calc(100dvh - 123px);*/
	flex: 1;

}

.producto {
	background-color: greenyellow;
/*	padding: 50px 50px 50px 50px;*/
	height: 490px;
	margin-top: 200px;
}

.productoImg {
	width: 300px;
	height: 400px;
	object-fit: cover;
	display: block;
}

.precio {
	margin: 0;
	height: 40px;
	text-align: center;
}

.formularioContacto {
	display: grid;
	place-items: center;
	margin-top: 200px;
}

.formularioContacto h1 {
	display: grid;
	place-items: revert;
}

.clickeable {
	display: block;
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

h2 {
	margin: 0;
	height: 50px;
	display: flex;
/*	justify-content: bot;*/
	align-items: center;
	justify-content: center;
}

header{
	background-color: #666666;
}

html, body{
	height: 100%;
	margin: 0;
}

input, textarea {
	border: 1px solid #ddd;
	width: 400px;
}

textarea {
	height: 300px;
}