.headerrr{
	display: flex;
	align-items: center;
	background-color: #FFE15C;
	height: 120px;
	border-bottom: 4px solid #000;
}

.space-menu{
	background-color: #FFE15C;
	padding: 18px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.barraInicio {
	margin: 0 auto;
	display: flex;
	gap: 50px;
}

.logo-div{
	width: 220px;
	height: 100px;
}

.logo{
	width: 100%;
	height: 100%;
}

.img-size {
/*	max-inline-size: 100%;*/
	width: 100%;
	object-position: center;
	object-fit: cover;

}

.merch {
	background-color: #ECF2E6;
	display: flex;
	flex-wrap: wrap;
	gap: 150px;
	margin: 0px 0px 0px 0px;
/*	padding: 100px 100px 100px 100px;*/
	justify-content: center;
/*	justify-content: flex-start;*/
/*	height: calc(100dvh - 123px);*/
	flex: 1;

}

.producto {
	background-color: #FFE15C;
/*	padding: 50px 50px 50px 50px;*/
	height: 490px;
	margin-top: 200px;
	transition: transform 0.3s ease;
}

.producto:hover {
	transform: scale(1.05);
}


.productoImg {
	width: 300px;
	height: 400px;
	object-fit: cover;
	display: block;
}

.precio {
	margin: 0;
	height: 40px;
	text-align: center;
}

.formularioContacto {
	display: grid;
	place-items: center;
	margin-top: 200px;
}

.formularioContacto h1 {
	display: grid;
	place-items: revert;
}

.clickeable {
	display: block;
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #ECF2E6;
}

h2 {
	margin: 0;
	height: 50px;
	display: flex;
/*	justify-content: bot;*/
	align-items: center;
	justify-content: center;
}

header{
	background-color: #666666;
}

html, body{
	height: 100%;
	margin: 0;
}


/*
textarea {
	height: 300px;
} */

/* .formularioProducto {
	display: flex;
  	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	box-sizing: border-box
}

.formularioProducto p{
	display: inline;        
    margin: 0;             
}

.submit {
	display: block;
	margin: 20px auto;
} */

input {
	border-radius: 8px;
}


/* Quitar flechitas por DeepSeek chrome, opera..*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Quitar flechas en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.divProducto2 {
	display: flex;
	width: 100%;
}

.imagenProducto {
	width: 50%;
}

.imagenProducto img {
	width: 100%;
	height: calc(100vh - 120px);
	object-fit: cover;
	display: block;
}

.formularioProducto2 {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	background-color: #ECF2E6;
}

.formularioProducto2 h1{
	margin-top: 20%;
}

.formularioProducto2 h3{
	margin: 0 auto;
}

.formularioProducto2 button {
	width: 250px;
	height: 45px;
	margin-top: 50px;
	background-color: #FFE15C;
	border: 3px solid #000;
	font-weight: bold;
}

input, textarea {
	border: 1px solid #ddd;
	width: 50px;
}

.divSelectorTalla {
	margin-top: 100px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.divSelectorCantidad {
	display: flex;
	align-items: center;
	gap: 20px;
}

.formularioContacto textarea {
	width: 300px;
	height: 250px;
} 

.formularioContacto input {
	width: 300px;
} 

.carrito {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}